@use "../../../presets" as *;
@use "../../../mixins" as *;


.trial {
background-color: $color-bg-accent;
padding-top: 119px;
padding-bottom: 161px;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: $color-primary;
    }

    &__title {
        font-weight: 600;
        font-size: 65px;
        line-height: 1.15;
        margin: 0;
        max-width: 784px;

        @include sm {
            font-size: 40px;
        }
    }

    &__description {
        margin: 28px 0 54px 0;
        font-size: 20px;
            line-height: 1.5;
    }
}