@use "../../../presets" as *;
@use "../../../mixins" as *;

.productivity {
    margin-top: 149px;
    margin-bottom: 187px;

    &__title {
        font-weight: 600;
        font-size: 50px;
        line-height: 1.2;
        color: $color-primary;
        margin: 0 auto 77px auto;
        text-align: center;

        @include sm {
            font-size: 35px;
        }
    }

    &__cards {
        display: grid;
        column-gap: 30px;
        grid-template-columns: repeat(3, 1fr);

        @include xl-md {
            row-gap: 40px;
            grid-template-columns: repeat(2, 1fr);
        }

        @include md {
            grid-template-columns: 1fr;
        }

    }


    &__card {
        display: flex;
        flex-direction: column;
        color: $color-primary;

        @include xl {
            max-width: 70%;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
        }

        &-title {
            font-weight: 600;
            font-size: 30px;
            line-height: 1.33;
            margin-bottom: 17px;
        }

        &-picture {
            order: -1;
        }

        &-description {
            font-size: 20px;
            line-height: 1.5;
        }

        &-uLink {
            text-decoration: underline;
        }

        &-link {
            text-decoration: underline;
            font-size: 20px;
            line-height: 1.5;
        }
    }

}

.card1__title {
    margin-top: 43px;
}

.card2__title {
    margin-top: 77px;
}

.card3__title {
    margin-top: 59px;
}