@use "../../../presets" as *;
@use "../../../mixins" as *;

.formats {
    background-color: $color-bg-light;
    margin-top: -96px;
    padding-top: 120px;
    padding-bottom: 140px;

    @include xl {
        margin-top: 60px;
    }

    @include sm {
        padding-top: 60px;
        padding-bottom: 70px;
    }

    &__title {
        font-weight: 600;
        font-size: 50px;
        line-height: 1.2;
        text-align: center;
        color: $color-primary;
        margin: 0 0 76px 0;

        @include sm {
            font-size: 35px;
        }
    }

    &__cards {
        margin-left: 40px;
        margin-right: 40px;
        display: grid;
        column-gap: 110px;
        row-gap: 69px;

        @include xl-min {
            grid-template-columns: repeat(3, 1fr);
        }

        @include xl-md {
            grid-template-columns: repeat(2, 1fr);
        }

        @include md {
            grid-template-columns: 1fr;
        }
    }

    &__card {
        max-width: 330px;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;

        &-title {
            font-weight: 600;
            font-size: 25px;
            line-height: 1.4;
            color: $color-primary;
        }

        &-description {
            font-size: 18px;
            line-height: 1.39;
            color: $color-primary;
        }

        &-picture {
            order: -1;
        }

        &-img {
            @include sm {
                width: 30%;
            }
        }
    }

    &__uLink {
        text-decoration: underline;
    }
}