$color-primary: #000000;
$color-accent: #ff6336;
$color-light: #ffffff;
$color-gray: #cccccc;

$color-bg-accent: #ff9c7d;
$color-bg-light: #fff8e4;
$color-bg-secondary: #c9e8f2;
$color-bg-dark: #dabc98;
$color-bg-gray: #eeeeee;