@use "../../../presets" as *;
@use "../../../mixins" as *;


.feedback {
    background-color: $color-bg-dark;
    padding-top: 86px;
    padding-bottom: 81px;

    &__content {
        display: grid;
        grid-template-areas: "pic1 ttl pic2";

        @include xl {
            grid-template-areas: "ttl ttl""pic1 pic2";
        }

        @include md {
            grid-template-areas: "ttl ttl""pic1 pic1""pic2 pic2";
        }
    }

    &__title {
        grid-area: ttl;
        font-weight: 600;
        font-size: 35px;
        line-height: 1.43;
        color: $color-primary;
        max-width: 461px;
        margin: 25px 66px 0 -14px;

        @include xl {
            margin: 0 auto $gap;
            max-width: 100%;
            text-align: center;
        }

        @include md {
            font-size: 30px;
        }
    }

    &__picture1 {
        grid-area: pic1;

        @include xl {
            margin: 0 auto;
        }
    }

    &__picture2 {
        grid-area: pic2;
        display: flex;
        border-left: 1px solid $color-primary;
        padding-top: $gap;

        @include md {
            justify-content: center;
            border-left: 1px solid transparent;
            border-top: 1px solid $color-primary;
            margin-top: $gap;
        }
    }

    &__img1 {

        @include sm {
            width: calc(176px * 0.7);
            height: calc(154px * 0.7);
        }
    }

    &__img2 {
        display: block;
        width: 128px;
        height: 116px;

        @include sm-min {
            margin-left: 71px;
        }


        @include sm {
            width: calc(128px * 0.7);
            height: calc(116px * 0.7);
        }
    }

    &__img3 {
        display: block;
        width: 150px;
        height: 116px;
        margin-left: 70px;

        @include sm {
            width: calc(150px * 0.7);
            height: calc(116px * 0.7);
        }
    }
}